header {
    text-align: center;
    padding: 10px;
}

body {
    color: black;
    background-color: #fdf1d8;
    margin: 5% 20%;
}

ul {
    font-size: 15px;
}

ul li {
    padding: 0 5px 5px 5px;
}

ul li p {
    padding: 5px 5px;
}

.element {
    margin: 5%;
    padding: 30px 30px;
    font-size: 40px;
    background: #fffcf4;
    border-radius: 8px;
    box-shadow: 0px 0px 5px;
    color: brown;
}

span {
    color: red;
}

i ul {
    color: red;
}

blockquote {
    margin: 0;
}

blockquote p {
    padding: 15px;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    background: rgb(244, 248, 223);
    border-radius: 15px;
}

figcaption {
    font-size: 15px;
    padding: 15px;
}

.code {
    background-color: rgb(244, 248, 223);
    border-radius: 10px;
    padding: 15px 20px;
    margin: 5px 5px;
}

.references {
    margin: 5%;
    padding: 20px 30px;
    background: #fffcf4;
    border-radius: 8px;
    box-shadow: 0px 0px 5px;
    color: black;
}

.references p {
    font-size: 30px;
    margin: 5px;
}

footer {
    text-align: center;
    font-size: 15px;
}